body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container a {
  padding: 24px 0;
}

nav, address {
  display: flex;
}

span.logo {
  color: #2e2f42;
}

.main-menu {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  align-self: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.address-wrap {
  font-style: normal;
}

.contact-menu {
  display: flex;
  gap: 40px;
  align-self: center;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

section {
  padding: 120px 0;
}

.solutions-wrap {
  background-color: #2e2f42;
}
.solutions-wrap .container {
  width: 496px;
  padding: 68px 0;
}

.first-header-class {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: block;
  margin: 48px auto 0 auto;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc(1086px / 4);
}

.second-header-class {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.features .second-header-class {
  display: none;
}

.third-header-class {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-wrap {
  background-color: #f4f4fd;
}

.our-team-list, .our-portfolio-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.our-team-list li, .our-portfolio-list li {
  padding-bottom: 32px;
}

.our-team-list img, .our-portfolio-list img {
  display: block;
  margin-bottom: 32px;
}

.our-team-card {
  background-color: #ffffff;
  text-align: center;
}

.our-portfolio-card {
  background-color: #ffffff;
}

.our-portfolio-list {
  flex-wrap: wrap;
}

.our-portfolio-list li {
  width: calc(1110px / 3);
}

.footer-wrap {
  background-color: #2e2f42;
}

.footer-wrap .container {
  padding: 100px 0;
  width: 264px;
  margin-left: 156px;
}

.text-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.logo-footer {
  color: #f4f4fd;
}
